<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Test</title>
</head>
<body>
    <div>
        <div style="margin:0 auto;width: 90%;">
            <span class="reviseCancelBtn twoSaveBtn" onclick="batchExportUseTmpFile('/baidu/fetchTopBaidu')">抓取目前http://top.baidu.com/?fr=tph_right</span>
        </div>
        <div style="margin:0 auto;width: 90%;">
            <span class="reviseCancelBtn twoSaveBtn" onclick="batchExportUseTmpFile('/baidu/fetchCompare')">比较</span>
        </div>
        <div>
            ......................................................................................................................
        </div>
    </div>
</body>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../static/scripts/test.js"></script>
</html>